<div>
  <div class="extrato">
    <img src="..\assets\erro.png" />
  </div>
  <p class="roxo">algo deu errado :(</p>
  <p class="preto">
    Desculpe, no momento esta função encontra-se indisponível. <br />Por favor
    aguarde alguns minutos e tente novamente.
  </p>
  <p class="subtitulo">
    Caso necessite de mais informações, contate o SOS internet: <br />
    Para qualquer localidade: <b>0300 100 1213</b><br />
    Em dias úteis, das 7h às 22h e em finais de semana e feriados das 8h às 22h.
  </p>
  <div class="extrato">
    <a href="#">ir para extrato</a>
  </div>
</div>
